body{
    background: #d6dce2;
}

#cabecalho{
    background-color: #d3dee9;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
    font-style:italic
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12;
    color: #404142;
}
img{
    width: 3%;
    height: 3%;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
table{
    border: 2px solid;
}
tr,td{
    border: 1px solid;
    width: 200px;
    text-align: center;
}/*centralizar/*
